[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.13"
django-simple-captcha = "*"
pipfile = "*"
scrapy = "*"
cffi = "*"
demjson = "*"
pyexecjs = "*"
requests = "*"
chardet = "*"
pillow = "*"
opencv-python = "*"
scrapyrt = "*"
flask = "*"
markupsafe = "*"
rsa = "*"
pycryptodome = "*"

[requires]
python_version = "3.7"
