[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.1.11"
django-simple-captcha = "*"
pipfile = "*"
scrapy = "*"
cffi = "*"
demjson = "*"
pyexecjs = "*"
requests = "*"
chardet = "*"
opencv-contrib-python = "*"
pillow = "*"

[requires]
python_version = "3.7"
