{% extends 'base.html' %}

{% block head %}
<title>Register</title>
{% endblock head %}

{% block body %}
<div class="container">
    <div class="col" style="text-align: center">
        {% if message %}
        <div class="alert alert-warning">{{ message }}</div>
        {% endif %}
        <form class="form-login" action="{% url 'myuser:register' %}" method="post">
            {% csrf_token %}
            {% for field in register_form %}
            <div class="form-group" style="text-align: left">
                {{ field.label_tag }}
                {{ field }}
            </div>
            {% endfor %}
            <div style="text-align: left">
                <button type="submit" class="btn btn-primary float-right">注册</button>
                <a href="{% url 'myuser:login' %}" class="text-success" ><ins>已有账号直接登录</ins></a>
            </div>

        </form>
    </div>
</div>
{% endblock body %}

<!--<script>-->
    <!--$(function(){-->
    <!--$('.captcha').css({-->
        <!--'cursor': 'pointer'-->
    <!--})-->
    <!--// ajax 刷新-->
    <!--$('.captcha').click(function(){-->
        <!--console.log('click');-->
         <!--$.getJSON("/captcha/refresh/",-->
                  <!--function(result){-->
             <!--$('.captcha').attr('src', result['image_url']);-->
             <!--$('#id_captcha_0').val(result['key'])-->
          <!--});});-->
    <!--//ajax动态验证-->
    <!--$('#id_captcha_1').blur(function(){-->
  <!--// #id_captcha_1为输入框的id，当该输入框失去焦点是触发函数-->
        <!--json_data={-->
            <!--'response':$('#id_captcha_1').val(),  // 获取输入框和隐藏字段id_captcha_0的数值-->
            <!--'hashkey':$('#id_captcha_0').val()-->
        <!--}-->
        <!--$.getJSON('/ajax_val', json_data, function(data){ //ajax发送            $('#captcha_status').remove()-->
            <!--if(data['status']){ //status返回1为验证码正确， status返回0为验证码错误， 在输入框的后面写入提示信息-->
                <!--$('#id_captcha_1').after('<span id="captcha_status" >*验证码正确</span>')-->
            <!--}else{-->
                 <!--$('#id_captcha_1').after('<span id="captcha_status" >*验证码错误</span>')-->
            <!--}-->
        <!--});-->
    <!--});-->
    <!--})-->
<!--</script>-->

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Register</title>-->
<!--</head>-->
<!--<body>-->
<!--    {% if message %}-->
<!--    <div class="alert alert-warning">{{ message }}</div>-->
<!--    {% endif %}-->
<!--    <form action="{% url 'myuser:register' %}" method="post">-->
<!--        {% csrf_token %}-->
<!--        {{ register_form.as_p }}-->
<!--        <button type="submit">提交</button>-->
<!--    </form>-->

<!--</body>-->
<!--</html>-->